In [86]:
# test_10000.csv


import numpy as np
import pandas as pd
import datetime as dt
# import matplotlib.pyplot as plt
#[]
cols = ['ORIG','DEST','SALE_STR_DATE','TRAVEL_STR_DATE','SEASON_STR_DATE','DOW','MIN_STAY_UNIT','MIN_STAY_VAL','MAX_STAY_UNIT',
        'MAX_STAY_VAL','AP_UNIT','AP_VALUE','RBD','FAREAMT_BC']
res_col = ['']
path = '../Jupyter Notebook/pricing_emirates_full_dataset.csv'
df = pd.read_csv(path, usecols=cols, nrows=10)

In [87]:

def year_to_int(date):
    return date.timetuple().tm_yday
    
#test it
# today = dt.datetime.now()
# print(today)
# print(year_to_int(today))

In [88]:
def convert_rev_date(cur):
        if cur is int : 
            print("already converted")
            return cur
        [day,month,year] = [int(x) for x in cur.split('-')]
        date = dt.datetime(day=day%100,month=month, year=year+2000)
        date = year_to_int(date)
        return date 

def convert_date_for(features):
    global df
    for feature in features:
        for i in range(df[feature].size):
            cur = df.loc[i,feature]
            df.loc[i, feature] = convert_rev_date(cur)

In [89]:
convert_date_for(features=['SALE_STR_DATE','TRAVEL_STR_DATE','SEASON_STR_DATE'])
print("done")

done

In [90]:
df.head()

,ORIG,DEST,SALE_STR_DATE,TRAVEL_STR_DATE,SEASON_STR_DATE,DOW,MIN_STAY_UNIT,MIN_STAY_VAL,MAX_STAY_UNIT,MAX_STAY_VAL,FAREAMT_BC,AP_UNIT,AP_VALUE,RBD
0,ORL,CRK,59,59,228,71234.0,1.0,SUN,M,6,1036,NaN,NaN,B
1,ORL,DMM,144,144,195,4567.0,NaN,NaN,M,12,1744,NaN,NaN,E
2,HOU,KBL,59,59,242,71234.0,NaN,NaN,M,12,1613,NaN,NaN,E
3,WAS,BGW,59,59,186,71234.0,1.0,SUN,M,6,1374,NaN,NaN,U
4,CHI,KHI,59,59,187,71234.0,1.0,SUN,M,6,888,NaN,NaN,U

In [93]:
def get_geo_coord(location):
    import requests
    import json
    r = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address='+location+'&KEY=AIzaSyD23wlDfVLokolUut_ZnLJAwMDHYBW6n68')
    result = r.json()
    if(result['status'] == 'OK'):
        return (result['results'][0]['geometry']['location']['lat'],result['results'][0]['geometry']['location']['lng'])
    else:
        return None


def get_temp(geo_coord):
    if(not geo_coord):
        return geo_coord
    import requests
    import json
    r = requests.get('https://api.darksky.net/forecast/f385a0cdd6a35414e0303c85c2da4249/'+str(geo_coord[0])+','+str(geo_coord[1]))
    result = r.json()
    return result['hourly']['icon']

def get_density(geo_coord):
    if(not geo_coord):
        return geo_coord
    import requests
    import json
    r = requests.get('http://www.datasciencetoolkit.org/coordinates2statistics/'+str(geo_coord[0])+','+str(geo_coord[1])+'?statistics=population_density')
    result = r.json()
    return result[0]['statistics']['population_density']['value']

loc_temp = {}
def get_temperature_by_location(loc):
    if(not loc_temp.has_key(loc)):
        loc_geo_coord = get_geo_coord(loc)
        loc_temp[loc] = get_temp(loc_geo_coord)
    return loc_temp[loc]

loc_density = {}
def get_density_by_location(loc):
    if(not loc_density.has_key(loc)):
        loc_geo_coord = get_geo_coord(loc)
        loc_density[loc] = get_density(loc_geo_coord)
    return loc_density[loc]



from_weather = [get_temperature_by_location(x) for x in df.ORIG]
to_weather = [get_temperature_by_location(x) for x in df.DEST]

from_density = [get_density_by_location(x) for x in df.ORIG]
to_density = [get_density_by_location(x) for x in df.DEST]

df['from_weather'] = from_weather
df['to_weather'] = to_weather
df['from_density'] = from_density
df['to_density'] = to_density

In [ ]:
df.to_csv('test_10_convered_date.csv')

In [94]:
df

,ORIG,DEST,SALE_STR_DATE,TRAVEL_STR_DATE,SEASON_STR_DATE,DOW,MIN_STAY_UNIT,MIN_STAY_VAL,MAX_STAY_UNIT,MAX_STAY_VAL,FAREAMT_BC,AP_UNIT,AP_VALUE,RBD,from_density,from_weather,to_weather,to_density
0,ORL,CRK,59,59,228,71234.0,1.0,SUN,M,6,1036,NaN,NaN,B,NaN,clear-day,partly-cloudy-night,NaN
1,ORL,DMM,144,144,195,4567.0,NaN,NaN,M,12,1744,NaN,NaN,E,NaN,clear-day,partly-cloudy-night,45.0
2,HOU,KBL,59,59,242,71234.0,NaN,NaN,M,12,1613,NaN,NaN,E,1216.0,rain,None,NaN
3,WAS,BGW,59,59,186,71234.0,1.0,SUN,M,6,1374,NaN,NaN,U,2695.0,rain,partly-cloudy-night,530.0
4,CHI,KHI,59,59,187,71234.0,1.0,SUN,M,6,888,NaN,NaN,U,1130.0,rain,None,1726.0
5,WAS,TRV,59,59,186,4567.0,1.0,SUN,M,6,1167,NaN,NaN,B,2695.0,rain,rain,3474.0
6,LAX,CPT,59,59,182,4567.0,1.0,SUN,M,6,1374,NaN,NaN,U,1048.0,partly-cloudy-night,rain,1252.0
7,SEA,BLR,59,59,195,4567.0,NaN,NaN,M,12,1662,NaN,NaN,R,983.0,partly-cloudy-day,partly-cloudy-night,NaN
8,SEA,MLE,59,59,59,NaN,NaN,NaN,M,12,11025,NaN,NaN,Y,983.0,partly-cloudy-day,partly-cloudy-night,NaN
9,HOU,AMD,59,59,167,4567.0,1.0,SUN,M,6,1272,NaN,NaN,M,1216.0,rain,clear-day,1270.0