In [1]:
import numpy as np
import pandas as pd
import datetime as dt
# import matplotlib.pyplot as plt
#[]
cols = ['ORIG','DEST','SALE_STR_DATE','TRAVEL_STR_DATE','SEASON_STR_DATE','DOW','MIN_STAY_UNIT','MIN_STAY_VAL','MAX_STAY_UNIT',
        'MAX_STAY_VAL','AP_UNIT','AP_VALUE','RBD','FAREAMT_BC']
res_col = ['']
path = 'test_100000_convered_date.csv'
df = pd.read_csv(path, usecols=cols)

In [2]:

place_to_int = dict()
int_to_place = dict()
            
def create_dictionary(features):
    global place_to_int, int_to_place
    unique = set()
    for feature in features:
        for i in range(df[feature].size):
            unique.add(df.loc[i,feature])
    place_to_int = {val:i for i, val in enumerate(unique)}
    int_to_place = dict(enumerate(unique))
    print(unique)
    print(place_to_int['ORL'])
    print(int_to_place[15])
            
def convert_to_int(features):
    for feature in features:
        for i in range(df[feature].size):
            cur = df.loc[i,feature]
            if cur is int:
                assert("cur is already number")
            df.loc[i, feature] = place_to_int[cur]

In [3]:
create_dictionary(['ORIG','DEST'])
print(place_to_int)

set(['DKR', 'MIL', 'CCU', 'BOS', 'BOM', 'BGW', 'NYC', 'CPT', 'DUR', 'HKT', 'KHI', 'HKG', 'LHE', 'CHC', 'HAN', 'MRU', 'SGN', 'THR', 'HRE', 'BNE', 'SYD', 'LAD', 'MAA', 'JNB', 'LAX', 'SKT', 'CCJ', 'DMM', 'BEY', 'DEL', 'FLL', 'ISB', 'CRK', 'RGN', 'AMM', 'CEB', 'KBL', 'SFO', 'AMD', 'SIN', 'MNL', 'MHD', 'BLR', 'SHA', 'TRV', 'ACC', 'DOH', 'PEW', 'MUX', 'PER', 'IST', 'KUL', 'HYD', 'COK', 'LUN', 'JKT', 'SEZ', 'BSR', 'BKK', 'NBO', 'SEA', 'DFW', 'KRT', 'CMB', 'ADD', 'JED', 'ADL', 'WAS', 'MED', 'RUH', 'MEL', 'ORL', 'BJS', 'DPS', 'LOS', 'CAI', 'CAN', 'BAH', 'DAC', 'KWI', 'DAR', 'CHI', 'MLE', 'ABJ', 'HOU', 'EBB', 'MCT', 'DXB'])
71
MRU
{'DKR': 0, 'MIL': 1, 'CCU': 2, 'BOS': 3, 'BOM': 4, 'BGW': 5, 'NYC': 6, 'CPT': 7, 'SIN': 39, 'HKT': 9, 'KHI': 10, 'HKG': 11, 'LHE': 12, 'CHC': 13, 'HAN': 14, 'MRU': 15, 'THR': 17, 'HRE': 18, 'BNE': 19, 'SYD': 20, 'LAD': 21, 'MAA': 22, 'SFO': 37, 'LAX': 24, 'SKT': 25, 'CCJ': 26, 'DMM': 27, 'BEY': 28, 'DEL': 29, 'FLL': 30, 'ISB': 31, 'CRK': 32, 'RGN': 33, 'AMM': 34, 'CEB': 35, 'KBL': 36, 'JNB': 23, 'AMD': 38, 'MNL': 40, 'MHD': 41, 'BLR': 42, 'SHA': 43, 'TRV': 44, 'ACC': 45, 'DOH': 46, 'PEW': 47, 'MUX': 48, 'PER': 49, 'IST': 50, 'KUL': 51, 'HYD': 52, 'COK': 53, 'LUN': 54, 'JKT': 55, 'SEZ': 56, 'BSR': 57, 'BKK': 58, 'NBO': 59, 'SEA': 60, 'DFW': 61, 'KRT': 62, 'CMB': 63, 'ADD': 64, 'JED': 65, 'DUR': 8, 'WAS': 67, 'MED': 68, 'RUH': 69, 'MEL': 70, 'ORL': 71, 'BJS': 72, 'DPS': 73, 'LOS': 74, 'CAI': 75, 'CAN': 76, 'BAH': 77, 'CHI': 81, 'DAC': 78, 'KWI': 79, 'DAR': 80, 'SGN': 16, 'MLE': 82, 'ABJ': 83, 'ADL': 66, 'HOU': 84, 'EBB': 85, 'MCT': 86, 'DXB': 87}

In [4]:
create_dictionary(['ORIG','DEST'])
convert_to_int(['ORIG','DEST'])

set(['DKR', 'MIL', 'CCU', 'BOS', 'BOM', 'BGW', 'NYC', 'CPT', 'DUR', 'HKT', 'KHI', 'HKG', 'LHE', 'CHC', 'HAN', 'MRU', 'SGN', 'THR', 'HRE', 'BNE', 'SYD', 'LAD', 'MAA', 'JNB', 'LAX', 'SKT', 'CCJ', 'DMM', 'BEY', 'DEL', 'FLL', 'ISB', 'CRK', 'RGN', 'AMM', 'CEB', 'KBL', 'SFO', 'AMD', 'SIN', 'MNL', 'MHD', 'BLR', 'SHA', 'TRV', 'ACC', 'DOH', 'PEW', 'MUX', 'PER', 'IST', 'KUL', 'HYD', 'COK', 'LUN', 'JKT', 'SEZ', 'BSR', 'BKK', 'NBO', 'SEA', 'DFW', 'KRT', 'CMB', 'ADD', 'JED', 'ADL', 'WAS', 'MED', 'RUH', 'MEL', 'ORL', 'BJS', 'DPS', 'LOS', 'CAI', 'CAN', 'BAH', 'DAC', 'KWI', 'DAR', 'CHI', 'MLE', 'ABJ', 'HOU', 'EBB', 'MCT', 'DXB'])
71
MRU

In [5]:
df.head()

,ORIG,DEST,SALE_STR_DATE,TRAVEL_STR_DATE,SEASON_STR_DATE,DOW,MIN_STAY_UNIT,MIN_STAY_VAL,MAX_STAY_UNIT,MAX_STAY_VAL,FAREAMT_BC,AP_UNIT,AP_VALUE,RBD
0,71,32,59,59,228,71234.0,1,SUN,M,6,1036,NaN,NaN,B
1,71,27,144,144,195,4567.0,NaN,NaN,M,12,1744,NaN,NaN,E
2,84,36,59,59,242,71234.0,NaN,NaN,M,12,1613,NaN,NaN,E
3,67,5,59,59,186,71234.0,1,SUN,M,6,1374,NaN,NaN,U
4,81,10,59,59,187,71234.0,1,SUN,M,6,888,NaN,NaN,U

In [6]:
df.to_csv('test_100000_convered_places.csv')