In [7]:
import numpy as np
import pandas as pd
import datetime as dt
# import matplotlib.pyplot as plt
#[]
cols = ['JRNY_TYPE_ID','ORIG','DEST','COMPARTMENT','PAX_TYPE','SALE_STR_DATE','TRAVEL_STR_DATE','SEASON_STR_DATE','DOW','MIN_STAY_UNIT','MIN_STAY_VAL','MAX_STAY_UNIT',
        'MAX_STAY_VAL','AP_UNIT','AP_VALUE','RBD']
res_col = ['']
path = 'test_10000_convered_date.csv'
df = pd.read_csv(path, usecols=cols)

In [49]:

place_to_int = dict()
int_to_place = dict()
            
def create_dictionary(features):
    global place_to_int, int_to_place
    unique = set()
    for feature in features:
        for i in range(df[feature].size):
            unique.add(df.loc[i,feature])
    place_to_int = {val:i for i, val in enumerate(unique)}
    int_to_place = dict(enumerate(unique))
    print(unique)
    print(place_to_int['ORL'])
    print(int_to_place[15])
            
def convert_to_int(features):
    for feature in features:
        for i in range(df[feature].size):
            cur = df.loc[i,feature]
            if cur is int:
                assert("cur is already number")
            df.loc[i, feature] = place_to_int[cur]

In [50]:
create_dictionary(['ORIG','DEST'])
print(place_to_int)

{'DFW', 'ADL', 'KBL', 'ACC', 'RGN', 'BLR', 'LAD', 'ADD', 'LHE', 'MUX', 'PEW', 'HKG', 'CCJ', 'MIL', 'PER', 'ORL', 'RUH', 'MNL', 'HRE', 'DXB', 'EBB', 'KRT', 'BKK', 'DKR', 'CAI', 'CAN', 'DAC', 'MRU', 'SKT', 'SFO', 'CMB', 'AMD', 'LUN', 'BJS', 'BNE', 'MAA', 'CRK', 'WAS', 'HOU', 'MCT', 'BOM', 'JKT', 'CHI', 'COK', 'CPT', 'ABJ', 'LOS', 'HKT', 'CHC', 'SEZ', 'TRV', 'HYD', 'KHI', 'SIN', 'MHD', 'LAX', 'JNB', 'BOS', 'BAH', 'NYC', 'ISB', 'BSR', 'BGW', 'SEA', 'THR', 'SHA', 'MLE', 'FLL', 'DAR', 'CCU', 'CEB', 'IST', 'DPS', 'AMM', 'DOH', 'DEL', 'JED', 'SYD', 'DMM', 'KUL', 'NBO', 'DUR', 'SGN', 'MEL', 'BEY', 'HAN', 'MED', 'KWI'}
15
ORL
{'DFW': 0, 'ADL': 1, 'KBL': 2, 'ACC': 3, 'RGN': 4, 'BLR': 5, 'LAD': 6, 'ADD': 7, 'LHE': 8, 'MUX': 9, 'PEW': 10, 'HKG': 11, 'CCJ': 12, 'MIL': 13, 'PER': 14, 'ORL': 15, 'RUH': 16, 'MNL': 17, 'HRE': 18, 'DXB': 19, 'EBB': 20, 'KRT': 21, 'BKK': 22, 'DKR': 23, 'CAI': 24, 'CAN': 25, 'DAC': 26, 'MRU': 27, 'SKT': 28, 'SFO': 29, 'CMB': 30, 'AMD': 31, 'LUN': 32, 'BJS': 33, 'BNE': 34, 'MAA': 35, 'CRK': 36, 'WAS': 37, 'HOU': 38, 'MCT': 39, 'BOM': 40, 'JKT': 41, 'CHI': 42, 'COK': 43, 'CPT': 44, 'ABJ': 45, 'LOS': 46, 'HKT': 47, 'CHC': 48, 'SEZ': 49, 'TRV': 50, 'HYD': 51, 'KHI': 52, 'SIN': 53, 'MHD': 54, 'LAX': 55, 'JNB': 56, 'BOS': 57, 'BAH': 58, 'NYC': 59, 'ISB': 60, 'BSR': 61, 'BGW': 62, 'SEA': 63, 'THR': 64, 'SHA': 65, 'MLE': 66, 'FLL': 67, 'DAR': 68, 'CCU': 69, 'CEB': 70, 'IST': 71, 'DPS': 72, 'AMM': 73, 'DOH': 74, 'DEL': 75, 'JED': 76, 'SYD': 77, 'DMM': 78, 'KUL': 79, 'NBO': 80, 'DUR': 81, 'SGN': 82, 'MEL': 83, 'BEY': 84, 'HAN': 85, 'MED': 86, 'KWI': 87}

In [53]:
create_dictionary(['ORIG','DEST'])
convert_to_int(['ORIG','DEST'])

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87}

KeyError: 'ORL'

In [54]:
df.head()

,JRNY_TYPE_ID,ORIG,DEST,COMPARTMENT,PAX_TYPE,SALE_STR_DATE,TRAVEL_STR_DATE,SEASON_STR_DATE,DOW,MIN_STAY_UNIT,MIN_STAY_VAL,MAX_STAY_UNIT,MAX_STAY_VAL,AP_UNIT,AP_VALUE,RBD
0,2,15,36,Y,ADT,59,59,228,71234.0,1,SUN,M,6,NaN,NaN,B
1,2,15,78,Y,ADT,144,144,195,4567.0,NaN,NaN,M,12,NaN,NaN,E
2,2,38,2,Y,ADT,59,59,242,71234.0,NaN,NaN,M,12,NaN,NaN,E
3,2,37,62,Y,ADT,59,59,186,71234.0,1,SUN,M,6,NaN,NaN,U
4,2,42,52,Y,ADT,59,59,187,71234.0,1,SUN,M,6,NaN,NaN,U